@import '../../../styles/variables';
@import '../../../styles/pallete';

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.formaggi {
    background: url('../../../public/assets/images/headerBG.png'), rgb(111, 111, 111) 50% / cover no-repeat;
    background-blend-mode: screen;
  }

  &.koko {
    background: $white;
  }

  &.rombaba {
    background: $white;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
  }

  &.scrolled-header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .scrolled-content {
    opacity: 0;
    transform: translate(-200px, -200px);
    height: 0;
    width: 0;
    display: none;
    &.contacts {
      width: 0;
      height: 0;
    }
  }

  .logoContainer {
    gap: 20px;

    .switcherContainer {
      margin: 0;
      margin-left: auto;
    }
  }


  .navList {
    display: flex;
    gap: 30px;
    align-items: center;

    li {
      a {
        &.formaggi {
          color: $white;
          font-family: $roboto;
          transition: color .3s ease;
          font-size: $lg;

          &:hover {
            color: $formaggi_secondary;
          }
        }

        &.koko {
          color: $black;
          font-family: $open-sans;
          transition: color .3s ease;
          font-size: $xl;

          &:hover {
            color: $koko_secondary_lighter;
          }
        }

        &.rombaba {
          color: $black;
          font-family: $neucha;
          transition: color .3s ease;
          font-size: $xl;

          &:hover {
            color: $rombaba_secondary;
          }
        }

      }
    }
  }

  .navContainer {
    justify-content: space-between;

    .koko {
      margin: 0 auto;
    }

    .navbar {
      // стили для меню

      .navList {
        display: flex;
        gap: 30px;

        li {
          a {
            &.formaggi {
              color: $white;
              font-family: $roboto;
              transition: color .3s ease;
              font-size: $lg;

              &:hover {
                color: $formaggi_secondary;
              }
            }

          }
        }
      }
    }


  }

  .cartContainer {
    gap: 16px;

    img {
      cursor: pointer;
    }

    &.koko button {
      border: 2px solid $black;
      background: $white;
      color: $black;
    }

    &.rombaba button {
      background: $rombaba_primary;
      color: $white;
    }

    &.topCart {
      margin: 0;
      margin-left: auto;
    }

    .priceAndCount {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &.formaggi {

        .price {
          color: $white;
        }

        .count {
          color: $white;
        }
      }

      .price {
        font-size: $xl;
      }

      .count {
        font-size: $sm;
      }

      p {
        white-space: nowrap;
      }
    }
  }

  .logo {
    // стили для логотипа
  }



  .contacts {
    display: flex;
    align-items: center;
    gap: 20px;

    &.formaggi {
      color: #D5DAD5;
    }

  }

}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.columns {
  display: flex;
  align-items: center;
}