@font-face {
    font-family: "Museo Cyrl 100";
    src: url('../public/fonts/museo-cyrl/museocyrl_100.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TrixieCyr-Plain";
    src: url('../public/fonts/trixiecyr-plain/trixiecyr_plain.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Neucha";
    src: url('../public/fonts/neucha/Neucha-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    // font-family: 'Neucha', cursive;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../public/fonts/roboto-condensed/RobotoCondensed-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../public/fonts/roboto-condensed/RobotoCondensed-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../public/fonts/roboto-condensed/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../public/fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../public/fonts/open-sans/OpenSans-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../public/fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}