$white: #fff;
$black: #000;

$formaggi_primary: #868B85;
$formaggi_secondary: #9C3D16;
$formaggi_secondary_light: #D9BC8E;
$formaggi_secondary_lighter: #C05528;

$koko_primary: #868B85;
$koko_secondary: #D73416;
$koko_secondary_light: #C5BD2F;
$koko_secondary_lighter: #F1861B;
$koko_burgundy: #832D57;
$koko_border: #3C3C3B;

$rombaba_primary: #455966;
$rombaba_primary_light: #D4E4E4;
$rombaba_secondary: #0EC4C4;