$open-sans: 'Open Sans', sans-serif;
$trixiecyr-plain: 'TrixieCyr-Plain', sans-serif;
$neucha: 'Neucha', cursive;
$museo-cyrl: 'Museo Cyrl 100', sans-serif;
$roboto: 'Roboto', sans-serif;

$mobile: 576px;
$tablet: 768px;
$dt: 992px;
$wide: 1200px;

$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$xl: 20px;
$xl_md: 24px;
$xl_lg: 28px;
$xxl: 32px;

