@import './pallete';
@import './variables';
@import './fonts';

html,
body,
div[id="root"] {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  box-shadow: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: inherit;
}

.homeContainer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px 20px;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 300px;

  .title {
    font-size: 24px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .links a {
    text-decoration: underline;
  }
}